[data-theme="light"] {
  --color-bg: #fee;
  --color-bg-faint: #fdde;
  --color-raised: #dcc;
  --color-fg: #000;
  --color-fg-faint: #000d;
  --color-accent-fg: #900;
  --color-accent-fg-faint: #9339;
  --color-accent-bg: #f66;
  --color-accent-bg-faint: #f779;

  & .light-icon {
    display: block;
  }
  & .dark-icon {
    display: none;
  }
}

[data-theme="dark"] {
  --color-bg: #200;
  --color-bg-faint: #200d;
  --color-raised: #433;
  --color-fg: #fff;
  --color-fg-faint: #fffd;
  --color-accent-fg: #f66;
  --color-accent-fg-faint: #f779;
  --color-accent-bg: #900;
  --color-accent-bg-faint: #9339;

  & .light-icon {
    display: none;
  }
  & .dark-icon {
    display: block;
  }
  & img {
    filter:invert()
  }
}

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

[data-theme-toggle] {
  width: 24px;
  height: 24px;
  padding: 0px;
  border: 0px;
  background-color: #0000;
  color: var(--color-fg);
  float: right
}

.main-paper {
  max-width: 80ch;
  background-color: var(--color-bg-faint);
  color: var(--color-fg);
  margin-left: auto;
  margin-right: auto;
  /* font-family: "toshibatx"; */
  padding-top: 1em;
  padding-bottom: 2.5em;
  padding-left: min(2.5em, 6.25%);
  padding-right: min(2.5em, 6.25%);
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url("/assets/img/redsky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.25em;
  text-shadow: 0.0625em 0.0625em var(--color-accent-fg-faint);
  font-family: sans-serif;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  font-family: sans-serif;
}

h3 {
  font-size: 1em;
  margin-bottom: 0.25em;
  text-decoration: underline;
  font-family: sans-serif;
}

p {
  margin-bottom: 0.25em;
  font-family: serif;
}

ul {
  margin-top: 0.25em;
}

a {
  color: var(--color-accent-fg);
  font-weight: bold;
  text-decoration-thickness: calc(1em / 8);
}

.compact {
  margin-top: 0.25em;
}

.preserve-whitespace {
  white-space: pre;
  overflow-x: scroll;
  line-height: 100%;
}

.inverted {
  background-color: var(--color-accent-fg);
  color: var(--color-bg);
  font-weight: bold;
}

@font-face {
  font-family: "toshibatx";
  src: url("/assets/fonts/WebPlus_ToshibaTxL2_8x16.woff") format('woff');
}

@font-face {
  font-family: "toshibatx";
  src: url("/assets/fonts/WebPlus_ToshibaTxL1_8x16.woff") format('woff');
  font-weight: bold;
}

table, th, td {
  border: 1px solid var(--color-fg);
  border-collapse: collapse;
  text-align: center;
}

.left {
  text-align: left;
}

table {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

th, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.scroll-container {
  overflow: scroll;
}

.code-inline{
  background-color: var(--color-raised);
  border-radius:5px;
  color: var(--color-fg);
  border-color: var(--color-raised);
  border-style: solid;
  border-width: 2px;
}

code {
  /* font-family: "toshibatx"; */
  border-radius: 4px;
}

pre code.hljs.compact {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

pre code b{
  font-weight:bold;
}

hr {
  background-color: var(--color-fg);
  border-width:0;
  height:1px;
}

p code.hljs {
  padding:1px 4px 1px 4px;
}

li code.hljs {
  padding:1px 4px 1px 4px;
}

ul {
  list-style-type: "* ";
  padding-left: 1.5em;
}

li {
  margin-bottom: 0.5em;
}