.main-paper {
  max-width: 40em;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-family: toshibatx;
  padding: 2.5em;
  padding-top: 1em;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  line-height: 100%;
  background-color: #eee;
}

.preserve-whitespace {
  white-space: pre;
}

@font-face {
  font-family: "toshibatx";
  src: url("/assets/fonts/Web437_ToshibaTxL2_8x16.woff") format('woff');
}

@font-face {
  font-family: "toshibatx";
  src: url("/assets/fonts/Web437_ToshibaTxL1_8x16.woff") format('woff');
  font-weight: bold;
}